/************ font style start ************/
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Inter&family=Jost:wght@200&family=Kanit:wght@200&family=Kodchasan&family=Nunito+Sans:opsz@6..12&family=Philosopher&family=Roboto:wght@300;400&family=Secular+One&family=Signika&family=Titillium+Web&family=Ubuntu:ital,wght@0,400;1,300&family=Ysabeau+Infant&display=swap");

* {
 font-family: "Titillium Web", sans-serif;
}

/************ font style end ************/

/************** bootstrap start  *******************/
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}

.wrapper {
 max-width: 1266px;
 margin: 0 auto;
}

.text_center {
 text-align: center;
}

.text_right {
 text-align: right;
}

.text_left {
 text-align: left;
}

.display_flex {
 display: flex;
 flex-wrap: wrap;
}

.column_reverse {
 flex-direction: column-reverse;
}

.column_column {
 flex-direction: column;
}

.row_reverse {
 flex-direction: row-reverse;
}

.row_row {
 flex-direction: row;
}

.align_items_center {
 align-items: center;
}

.align_items_right {
 align-items: flex-end;
}

.align_items_left {
 align-items: flex-start;
}

.justify_content_center {
 justify-content: center;
}

.justify_content_left {
 justify-content: left;
}

.justify_content_right {
 justify-content: right;
}

.flex_width_2_container>*,
.flex_width_2 {
 flex: 0 0 50%;
}

.flex_width_3_container>*,
.flex_width_3 {
 flex: 0 0 33.33%;
}

.flex_width_4 {
 flex: 0 0 25%;
}

.flex_width_5 {
 flex: 0 0 20%;
}

.flex_width_6 {
 flex: 0 0 16.666666%;
}

ul li {
 list-style: none;
}

button {
 border: none;
 cursor: pointer;
 background-color: transparent;
}

a {
 text-decoration: none;
}

@media screen and (max-width: 992px) {
 .flex_width_100_in_large {
  flex: 0 0 100%;
 }
}

@media screen and (max-width: 768px) {
 .flex_width_100_in_mid {
  flex: 0 0 100%;
 }
}

@media screen and (max-width: 500px) {
 .flex_width_100_in_small {
  flex: 0 0 100%;
 }
}

/************** bootstrap end  *******************/

/* ---------- root start---------- */

:root {
 --primary-color: rgb(252, 45, 30);
 --secondray-color: #2d2d2d;
 --white_color: #ffff;
 --color_black: #000000;
 --main_section-heading-color: #141414;
 --main_section-sub-heading-color: var(--primary-color);
 --main_section-sh-description-color: #808080;
 --descriptions_heading-color: #141414;
 --descriptions_paragraph-color: #5a5a5a;
 --text-background-color: #2d2d2d;
 --hr_color: #f3f3f3;
 --icon_box-border-color: #f0f0f0;
 --categories-span-color: #4d4d4d;
 --icon_color: var(--primary-color);
 --contact_form_back_color: #fff;
 --input_placeholder-color: #2c2c2c;
 --anchor_text-color: #000;
 --main-box-back-color: #fff;
 --image-back-color: #0000009d;
 --button_box-shadow-color: 1px 2px 25px rgba(0, 0, 0, 0.2);
 --contact_form_box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
 --icon_font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

/* ---------- root end---------- */

/******* main code start  *********/
.Contact_box_id_2 {
 position: relative;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 padding: 100px 20px;
 background-color: var(--image-back-color);
 background-blend-mode: darken;
}

.Contact_box_id_2 .Contact_id_2-under-box {
 padding-left: 10%;
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con {
 padding: 55px;
 max-width: 480px;
 background-color: var(--main-box-back-color);
 border-radius: 8px;
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .sub_heading span {
 font-size: 17.5px;
 color: var(--main_section-sub-heading-color);
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .main_heading h4 {
 font-size: 34px;
 color: var(--main_section-heading-color);
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .some_text p {
 font-size: 22px;
 color: var(--descriptions_paragraph-color);
 padding: 20px 0px;
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .icon_and-text {
 gap: 20px;
 align-items: center;
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .icon_and-text .icon {
 font-size: 0;
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .icon_and-text .icon span {
 color: var(--icon_color);
 font-size: 32px;
 font-variation-settings: var(--icon_font-variation-settings);
}

.Contact_box_id_2 .Contact_id_2-under-box .under_text-con .icon_and-text .text_ph-number a {
 font-weight: 600;
 color: var(--anchor_text-color);
 font-size: 24px;
}

@media screen and (max-width: 950px) {
 .Contact_box_id_2 .Contact_id_2-under-box {
  padding: 0px;
 }
}

@media screen and (max-width: 799px) {
 .Contact_box_id_2 .Contact_id_2-under-box .under_text-con {
  margin: 0 auto;
 }
}

@media screen and (max-width: 449px) {
 .Contact_box_id_2 .Contact_id_2-under-box .under_text-con {
  padding: 55px 30px;
 }

 .Contact_box_id_2 .Contact_id_2-under-box .under_text-con .main_heading h4 {
  font-size: 28px;
 }

 .Contact_box_id_2 .Contact_id_2-under-box .under_text-con .some_text p {
  font-size: 17.5px;
 }
}

/******* main code end  *********/